<nav class="sidebar">
  <header>
    <div class="image-text">
      <!-- A tag <a> foi adicionada aqui para envolver a imagem -->
      <a href="/Pages/Menu.html" class="image-logo">
        <img src="/assets/images/logo.png" alt="logo">
      </a>
    </div>
    <i class='bx bx-chevron-right toggle'></i>
  </header>
  <div class="text logo-text">
    <span class="profession" style="color: var(--text-color); font-size: 16px; font-weight: 600;">Menu Principal</span>
  </div>
  <div class="menu-bar">
    <ul class="menu-links">
      <!-- Dashboards -->
      <li class="nav-link submenu-parent" id="menu-dashboards">
          <a href="#"><i class='bx bx-bar-chart-square icon'></i><span class="text nav-text">Dashboards</span><i class='bx bx-chevron-right submenu-arrow'></i></a>
          <ul class="submenu">
              <li id="dash-geral"><a href="/Pages/Dashboard/DashboardGeral.html"><i class='bx bx-stats icon'></i><span class="text nav-text">Leads Geral</span></a></li>
              <li id="dash-comercial"><a href="/Pages/Dashboard/DashboardComercial.html"><i class='bx bx-trending-up icon'></i><span class="text nav-text">Comercial</span></a></li>
              <li id="dash-pecas"><a href="/Pages/Dashboard/DashboardPecas.html"><i class='bx bx-cube icon'></i><span class="text nav-text">Peças</span></a></li>
              <li id="dash-servicos"><a href="/Pages/Dashboard/DashboardServicos.html"><i class='bx bx-cog icon'></i><span class="text nav-text">Serviços</span></a></li>
              <li id="dash-planos-manutencao"><a href="/Pages/Dashboard/DashboardPlanoManutencao.html"><i class='bx bx-calendar-check icon'></i><span class="text nav-text">Planos de Manutenção</span></a></li>
              <li id="dash-Seguro"><a href="/Pages/Dashboard/DashboardSeguro.html"><i class='bx bx-shield-alt-2 icon'></i><span class="text nav-text">Seguro</span></a></li>
              <li id="dash-Consorcio"><a href="/Pages/Dashboard/DashboardConsorcio.html"><i class='bx bx-group icon'></i><span class="text nav-text">Consórcio</span></a></li>
              <li id="dash-PLM"><a href="/Pages/Dashboard/DashboardPLM.html"><i class='bx bx-chip icon'></i><span class="text nav-text">PLM</span></a></li>
          </ul>
      </li>
      <!-- Controles -->
      <li class="nav-link submenu-parent" id="menu-controles">
          <a href="#"><i class='bx bx-slider-alt icon'></i><span class="text nav-text">Controles</span><i class='bx bx-chevron-right submenu-arrow'></i></a>
          <ul class="submenu">
              <li id="ctrl-PlanosVigentes"><a href="/Pages/Controles/PlanosVigentes.html"><i class='bx bx-calendar-heart icon'></i><span class="text nav-text">Planos Vigentes</span></a></li>
              <li id="ctrl-MaquinaParada"><a href="/Pages/Controles/MaquinasParadas.html"><i class='bx bx-stop-circle icon'></i><span class="text nav-text">Máquinas Paradas</span></a></li>
              <li id="ctrl-Kit50"><a href="/Pages/Controles/Kits50Horas.html"><i class='bx bx-box icon'></i><span class="text nav-text">Kit 50Hr</span></a></li>
              <li id="ctrl-ContagemDiaria"><a href="/Pages/Controles/ContagemDiaria.html"><i class='bx bx-timer icon'></i><span class="text nav-text">Contagem Diária</span></a></li>
          </ul>
      </li>

      <!-- Cadastros -->
      <li class="nav-link submenu-parent" id="menu-cadastros">
          <a href="#"><i class='bx bx-user-plus icon'></i><span class="text nav-text">Cadastros</span><i class='bx bx-chevron-right submenu-arrow'></i></a>
          <ul class="submenu">
              <li id="admin-CadastroGestores"><a href="/Pages/Cadastros/CadastrarGestores.html"><i class='bx bx-user-voice icon'></i><span class="text nav-text">Gestores</span></a></li>
              <li id="admin-CadastroTecnicos"><a href="/Pages/Cadastros/CadastrarTecnicos.html"><i class='bx bx-user-check icon'></i><span class="text nav-text">Técnico</span></a></li>
          </ul>
      </li>
      <!-- Logout -->
      <li class="nav-link" id="logout-button">
        <a href="/Pages/Login/Login.html"><i class='bx bx-log-out icon'></i><span class="text nav-text">Logout</span></a>
      </li>
    </ul>
  </div>
</nav>

