<nav class="sidebar">
  <header>
    <div class="image-text">
      <!-- A tag <a> foi adicionada aqui para envolver a imagem -->
      <a href="/Pages/Menu.html" class="image-logo">
        <img src="/assets/images/logo.png" alt="logo">
      </a>
    </div>
    <i class='bx bx-chevron-right toggle'></i>
  </header>
  <div class="text logo-text">
    <span class="profession" style="color: var(--text-color); font-size: 16px; font-weight: 600;">Menu Principal</span>
  </div>
  <div class="menu-bar">
    <ul class="menu-links">
      <!-- Dashboards -->
      <li class="nav-link submenu-parent" id="menu-dashboards">
          <a href="#"><i class='bx bx-bar-chart-square icon'></i><span class="text nav-text">Dashboards</span><i class='bx bx-chevron-right submenu-arrow'></i></a>
          <ul class="submenu">
              <li id="dash-geral"><a href="/Pages/Dashboard/DashboardGeral.html"><i class='bx bx-stats icon'></i><span class="text nav-text">Leads Geral</span></a></li>
              <li id="dash-AnalisarParadas"><a href="/Pages/Dashboard/DashboardAnalisarParadas.html"><i class='bx bx-analyse icon'></i><span class="text nav-text">Analisar Paradas</span></a></li>
              <li id="dash-comercial"><a href="/Pages/Dashboard/DashboardComercial.html"><i class='bx bx-trending-up icon'></i><span class="text nav-text">Comercial</span></a></li>
              <li id="dash-pecas"><a href="/Pages/Dashboard/DashboardPecas.html"><i class='bx bx-cube icon'></i><span class="text nav-text">Peças</span></a></li>
              <li id="dash-servicos"><a href="/Pages/Dashboard/DashboardServicos.html"><i class='bx bx-cog icon'></i><span class="text nav-text">Serviços</span></a></li>
              <li id="dash-planos-manutencao"><a href="/Pages/Dashboard/DashboardPlanoManutencao.html"><i class='bx bx-calendar-check icon'></i><span class="text nav-text">Planos de Manutenção</span></a></li>
              <li id="dash-Seguro"><a href="/Pages/Dashboard/DashboardSeguro.html"><i class='bx bx-shield-alt-2 icon'></i><span class="text nav-text">Seguro</span></a></li>
              <li id="dash-Consorcio"><a href="/Pages/Dashboard/DashboardConsorcio.html"><i class='bx bx-group icon'></i><span class="text nav-text">Consórcio</span></a></li>
              <li id="dash-PLM"><a href="/Pages/Dashboard/DashboardPLM.html"><i class='bx bx-chip icon'></i><span class="text nav-text">PLM</span></a></li>
          </ul>
      </li>
      <!-- Controles -->
      <li class="nav-link submenu-parent" id="menu-controles">
          <a href="#"><i class='bx bx-slider-alt icon'></i><span class="text nav-text">Controles</span><i class='bx bx-chevron-right submenu-arrow'></i></a>
          <ul class="submenu">
              <li id="ctrl-PlanosVigentes"><a href="/Pages/Controles/PlanosVigentes.html"><i class='bx bx-calendar-heart icon'></i><span class="text nav-text">Planos Vigentes</span></a></li>
              <li id="ctrl-MaquinaParada"><a href="/Pages/Controles/MaquinasParadas.html"><i class='bx bx-stop-circle icon'></i><span class="text nav-text">Máquinas Paradas</span></a></li>
              <li id="ctrl-Kit50"><a href="/Pages/Controles/Kits50Horas.html"><i class='bx bx-box icon'></i><span class="text nav-text">Kit 50Hr</span></a></li>
              <li id="ctrl-ContagemDiaria"><a href="/Pages/Controles/ContagemDiaria.html"><i class='bx bx-timer icon'></i><span class="text nav-text">Contagem Diária</span></a></li>
              <li id="ctrl-PedidosPecas"><a href="/Pages/Controles/PedidosPecas.html"><i class='bx bx-timer icon'></i><span class="text nav-text">Pedidos Peças</span></a></li>
              <li id="ctrl-PedidosPrim"><a href="/Pages/Controles/PedidosPrim.html"><i class='bx bx-timer icon'></i><span class="text nav-text">Pedidos Prim</span></a></li>
              <li id="ctrl-Prim"><a href="/Pages/Controles/prim.html"><i class='bx bx-list-check icon'></i><span class="text nav-text">Controle Prim</span></a></li>
              <li id="ctrl-ControleFerramentas"><a href="/Pages/Controles/ControleFerramentas.html"><i class='bx bxs-wrench icon'></i><span class="text nav-text">Ferramentas</span></a></li>
          </ul>
      </li>

      <!-- Telemetria -->
      <li class="nav-link submenu-parent" id="menu-telemetria">
          <a href="#"><i class='bx bx-broadcast icon'></i><span class="text nav-text">Telemetria</span><i class='bx bx-chevron-right submenu-arrow'></i></a>
          <ul class="submenu">
              <li id="ctrl-Telemetria"><a href="/Pages/Controles/Telemetria.html"><i class='bx bx-broadcast icon'></i><span class="text nav-text">Telemetria</span></a></li>
          </ul>
      </li>

      <!-- Tempario -->
      <li class="nav-link submenu-parent" id="menu-tempario">
          <a href="#"><i class='bx bx-time icon'></i><span class="text nav-text">Tempario</span><i class='bx bx-chevron-right submenu-arrow'></i></a>
          <ul class="submenu">
              <li id="ctrl-Tempario"><a href="/Pages/Tempario/Tempario.html"><i class='bx bxs-wrench icon'></i><span class="text nav-text">Temparios</span></a></li>
          </ul>
      </li>

      <!-- Lubrificantes -->
      <li class="nav-link submenu-parent" id="menu-lubrificantes">
          <a href="#"><i class='bx bx-droplet icon'></i><span class="text nav-text">Lubrificantes</span><i class='bx bx-chevron-right submenu-arrow'></i></a>
          <ul class="submenu">
              <li id="lubri-AnaliseLubrificantes"><a href="/Pages/Lubrificantes/AnaliseLubrificantes.html"><i class='bx bx-test-tube icon'></i><span class="text nav-text">Análise de Lubrificantes</span></a></li>
          </ul>
      </li>

      <!-- Cadastros -->
      <li class="nav-link submenu-parent" id="menu-cadastros">
          <a href="#"><i class='bx bx-user-plus icon'></i><span class="text nav-text">Cadastros</span><i class='bx bx-chevron-right submenu-arrow'></i></a>
          <ul class="submenu">
              <li id="admin-CadastroGestores"><a href="/Pages/Cadastros/CadastrarGestores.html"><i class='bx bx-user-voice icon'></i><span class="text nav-text">Gestores</span></a></li>
              <li id="admin-CadastroTecnicos"><a href="/Pages/Cadastros/CadastrarTecnicos.html"><i class='bx bx-user-check icon'></i><span class="text nav-text">Técnico</span></a></li>
          </ul>
      </li>
      <!-- Logout -->
      <li class="nav-link" id="logout-button">
        <a href="/Pages/Login/Login.html"><i class='bx bx-log-out icon'></i><span class="text nav-text">Logout</span></a>
      </li>
    </ul>
  </div>
</nav>




